################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2/2.14/2.14/x64/Debug/2.14.tlog
